.card_container {
    width: 100%;
    border-radius: 10px;
    border: 1px solid gray;
    margin: 20px 0;
}

.card_image {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    object-fit: cover;
    height: 100px;
}

.headding_container {
    padding: 10px;
}

.main_headding {
    display: flex;
    justify-content: space-between;
    padding: 0 0 16px;
}

.main_headding>h1 {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.rating {
    display: flex;
    background-color: #008F20;
    padding: 2px 5px;
    border-radius: 2px;
}

.rating>p {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: white;
    padding-left: 5px;
}

.sub_headding {
    display: flex;
    justify-content: end;
}

.sub_headding>p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}